section.container.mx-auto.sm_grid.sm_grid-cols-3
  .col-span-2.p-3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iure quia nam, quae illum velit cumque voluptatibus soluta dignissimos dolor pariatur culpa! Officia ipsum cum pariatur et incidunt quas nisi.
  .bg-gray-200.p-3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quidem eveniet laborum aliquid incidunt architecto, vitae quas eos, omnis voluptatem corrupti, quam hic quod nesciunt assumenda qui rem sed. Iure.
