.bg-blue-600.text-white
  section.container.mx-auto.sm_grid.sm_grid-cols-3
    .p-2 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .col-span-2.p-2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iure quia nam, quae illum velit cumque voluptatibus soluta dignissimos dolor pariatur culpa! Officia ipsum cum pariatur et incidunt quas nisi.
