header.bg-gray-500.text-white.font-black
  .container.mx-auto.sm_grid.sm_grid-cols-3
    .inline-flex.items-center.justify-center.bg-gray-300.mx-auto.w-full Logo
    .col-span-2
      div 
        .text-3xl.px-4.py-2.text-center.sm_text-left Travel Agency
        .text-2xl.px-4.py-1.text-gray-300.bg-gray-700.text-center.sm_text-left Travel with us!
      .flex
        .flex-grow.text-center.cursor-pointer.p-1.bg-green-500 WhatsApp
        .flex-grow.text-center.cursor-pointer.p-1.bg-indigo-500 Viber
        .flex-grow.text-center.cursor-pointer.p-1.bg-blue-500 Telegram
        .flex-grow.text-center.cursor-pointer.p-1.bg-purple-500 Email
